<mat-toolbar color="primary">
  <button mat-flat-button color="primary" class="margrig">
    Agenda de citas - Reto semillero
  </button>
  <span class="example-spacer"></span>
  <button mat-flat-button color="primary" class="margrig">
    <mat-icon>calendar_month</mat-icon>
    Citas
  </button>
  <button mat-flat-button color="primary" class="margrig">
    <mat-icon>list_alt</mat-icon>
    Pruebas
  </button>
  <button mat-flat-button color="primary" class="margrig">
    <mat-icon>person</mat-icon>
    Afiliados
  </button>
</mat-toolbar>
