<div class="container">
  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th *ngFor="let column of headers">{{ column }}</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rows of informacion">
        <td *ngFor="let col of headers">{{ rows[col] }}</td>
        <td>
          <mat-icon
            style="margin-right: 5px; cursor: pointer"
            [routerLink]="['editar']"
            routerLinkActive="router-link-active"
            >update</mat-icon
          >
          <mat-icon
            style="margin-right: 5px; cursor: pointer"
            [routerLink]="['borrar']"
            routerLinkActive="router-link-active"
            >delete_outline</mat-icon
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
