<div class="container">
  <table
    mat-table
    [dataSource]="informacion"
    multiTemplateDataRows
    class="mat-elevation-z8"
  >
    <ng-container
      matColumnDef="{{ column.key }}"
      *ngFor="let column of headers | keyvalue"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.value }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column.key] }}</td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          style="color: slateblue"
          class="icon1"
          (click)="editEl(element.id)"
          >update</mat-icon
        >
        <mat-icon
          style="color: brown"
          class="icon1"
          (click)="borrarEl(element.id)"
          >delete_outline</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersKey"></tr>
    <tr mat-row *matRowDef="let element; columns: headersKey"></tr>
  </table>
</div>
