<div class="container">
  <table mat-table [dataSource]="informacion" class="mat-elevation-z8">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of headers">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>

    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          style="color: slateblue"
          class="icon1"
          (click)="editEl(element.id)"
          >update</mat-icon
        >
        <mat-icon
          style="color: brown"
          class="icon1"
          (click)="borrarEl(element.id)"
          >delete_outline</mat-icon
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="totalC"></tr>
    <tr mat-row *matRowDef="let element; columns: totalC"></tr>
  </table>
</div>
