.example-form {
  width: 100%;
  margin-top: 10px;
}

/* .example-form-field {
  width: 200px;
  margin-right: 40px;
} */

.example-button-row {
  display: flex;
  justify-content: right;
  height: 20vh;
  align-items: end;
}


.example-button-row button,
.example-button-row a {
  margin-right: 12px;
}

.nameInput {
  width: 20vw;
  margin-right: 30px;
}

.descriptionInput {
  width: 60vw;
  margin-right: 30px;
}
