.example-form {
  width: 90vw;
  margin-top: 10px;
}

.example-button-row {
  display: flex;
  justify-content: right;
  height: 16vh;
  align-items: end;
}

.example-button-row button,
.example-button-row a {
  margin-right: 12px;
}

.dateInput .timeInput {
  width: 20vw;
  margin-right: 30px;
}

.idtestInput .idafInput {
  width: 10vw;
  margin-right: 30px;
}
