<app-vista-i [titulo]="tituloInicial"></app-vista-i>

<form
  class="example-form"
  [formGroup]="citasForm"
  (ngSubmit)="crearCita(citasForm)"
  autocomplete="off"
>
  <mat-form-field class="inputStyle">
    <mat-label>Seleccione fecha</mat-label>
    <input matInput [matDatepicker]="picker" required formControlName="date" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="inputStyle">
    <mat-label>Seleccione hora</mat-label>
    <input
      matInput
      name="hour"
      required
      formControlName="hour"
      [ngxMatTimepicker]="pickerA"
      placeholder="4:00 PM"
      readonly
    />
    <mat-icon matSuffix (click)="pickerA.open()"> watch_later </mat-icon>
  </mat-form-field>
  <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

  <mat-form-field class="inputStyle">
    <mat-label>id Prueba</mat-label>
    <mat-select required formControlName="idTest">
      <mat-option *ngFor="let testEl of testOption" [value]="testEl.id">
        {{ testEl.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="inputStyle">
    <mat-label>id Afiliado</mat-label>
    <mat-select required formControlName="idAffiliate">
      <mat-option *ngFor="let affEl of affOption" [value]="affEl.id">
        {{ affEl.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-button-row">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="citasForm.invalid"
    >
      GUARDAR
    </button>
    <button mat-raised-button color="warn" type="reset" (click)="volverRuta()">
      CANCELAR
    </button>
  </div>
</form>

<!-- <p>Form Value: {{ citasForm.value | json }}</p>

<p>Form Status: {{ citasForm.status }}</p> -->
